<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá!</p>

  <span>
    <span>Infelizmente seu limite de correções para este desafio foi excedido!</span><br/>
    <span>Você pode tentar novamente em: <strong>{{days}} dias</strong>!</span>
  </span><br/>

  <p>
    <span>Atenciosamente,</span><br/>
    <strong>Equipe Space Coders!</strong>
  </p>
</div>
